body {
  background-image: url(https://cdn.pixabay.com/photo/2017/11/29/11/03/ecology-2985781_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}

nav ul {
  margin: auto;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

nav li {
  display: inline;
  list-style-type: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 40px;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  padding: 5px;
  margin: 0;
}

table {
  color: #FFF;
}

h1, h2, h3, p, ul, li {
  color: #FFF;
}

h1, h2, h3, p, table {
  font-family: 'Proza Libre', sans-serif;
  text-align: center;
}

h3 {
  text-decoration: underline;
}

aside h2 {
  padding-left: 0;
}

.article-aside aside, .article-aside article {
  margin: 3px;
}

.article-aside aside {
  margin-right: 20px;
}

.article-aside article {
  background: rgba(180, 180, 180, 0.25);
  border: 3px solid floralwhite;
  border-radius: 5px;
  padding: 5px;
}

#home-info {
  background: rgba(180, 180, 180, 0.25);
  border: 3px solid floralwhite;
  border-radius: 5px;
  padding: 5px;
  width: 865px;
  margin: auto;
  font-size: 20px;
}

#native-article {
  width: 865px;
}

#form {
  font-family: 'Proza Libre', sans-serif;
  background: rgba(180, 180, 180, 0.25);
  border: 3px solid floralwhite;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  margin: auto;
}

.container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  font-size: 20px;
  color: white;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

input[type=submit] {
    background-color: rgba(180, 180, 180, 0.25);
    border: 3px solid floralwhite;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#weather {
  background: rgba(180, 180, 180, 0.25);
  border: 3px solid floralwhite;
  border-radius: 5px;
}

#resources-list {
  padding-left: 0;
  list-style: none;
  width: 180px;
}

li {
  font-family: 'Proza Libre', sans-serif;
  color: floralwhite;
}

li a {
  display: inline;
  color: floralwhite;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: lightslategray;
}

img {
  width: 125px;
  height: 125px;
}