body {
  background-image: url(https://cdn.pixabay.com/photo/2017/11/29/11/03/ecology-2985781_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  /* font-family: 'Proza Libre', sans-serif;   */
}

#weather {
  background: rgba(180, 180, 180, 0.5);
  border: 3px solid floralwhite;
  border-radius: 5px;
}

/* #main-menu li {
  display: inline;
  align-content: center;
  margin: 0 auto;
} */

nav ul {
  margin: auto;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

nav li {
  display: inline;
  list-style-type: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 40px;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  padding: 5px;
  margin: 0;
}

.article-aside aside, .article-aside article {
  margin: 3px;
}

.article-aside aside {
  margin-right: 20px;
}

.article-aside article {
  background: rgba(180, 180, 180, 0.5);
  border: 3px solid floralwhite;
  border-radius: 5px;
  padding: 5px;
}

/* #water-article {
flex-grow: 2;
} */

table {
  color: #FFF;
}

h1, h2, h3, p, ul, li {
  color: #FFF;
}

h1, h2, h3, p, table {
  font-family: 'Proza Libre', sans-serif;
  text-align: center;
}

#resources-list {
  padding-left: 0;
  list-style: none;
}

li {
  font-family: 'Proza Libre', sans-serif;
  color: floralwhite;  
}

li a {
  display: inline;
  color: floralwhite;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: lightslategray;
}
